<h1>Edit Profile</h1>
<%= stylesheet_link_tag 'profile_edit', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= form_for @user, url: profile_path, method: :patch do |f| %>
  <!-- Форма редактирования профиля -->
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Update Profile', class: "btn btn-primary" %>
  </div>
<% end %>
