<h1>User Profile</h1>

<div class="profile-avatar-container">
  <% if @user.avatar.attached? %>
    <%= image_tag url_for(@user.avatar), alt: 'User Avatar', class: 'profile-avatar' %>
  <% end %>
</div>

<div class="profile-info">
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
  <p>Posts Count: <%= @posts_count %></p>
</div>

<%= link_to 'Edit Profile', edit_user_profile_path %>
<%= link_to 'Back to Posts', root_path, class: "btn btn-secondary" %>
<%= link_to 'Your Friends', friends_path %>
