<!-- app/views/blog_posts/index.html.erb -->

<h1>Anonymous chat League of Legends</h1>

<% @blog_posts.each do |blog_post| %>
  <h2><%= blog_post.title %></h2>

  <% if blog_post.image.attached? %>
    <%= image_tag url_for(blog_post.image), alt: 'Blog Post Image', class: 'blog-post-image' %>
  <% end %>

  <div class="alert">
    <%= blog_post.body %>
  </div>

  <br><br>
  <%= link_to "Edit", edit_blog_post_path(blog_post) if user_signed_in? %>

  <!-- Кнопки "Создать комментарий" и "Показать все комментарии" -->
  <%= link_to "Create Comment", new_blog_post_comment_path(blog_post) %>
  <%= link_to "Show Comments", blog_post_path(blog_post) %>

<% end %>
